/consultas-historial.txt
/agent-config.php
/texto-guardado.txt
/consultas-historial-laura.txt
/texto-guardado-laura.txt
/agent-config-laura.php
/consultas-historial-grupal.txt
/texto-guardado-grupal.txt
/agent-config-grupal.php
